<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key><string>en</string>
  <key>CFBundleDisplayName</key><string>Scalar</string>
  <key>CFBundleExecutable</key><string>ScalarMac</string>
  <key>CFBundleIdentifier</key><string>xyz.tryscalar.mac</string>
  <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
  <key>CFBundleName</key><string>Scalar</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleShortVersionString</key><string>__SCALAR_VERSION__</string>
  <key>CFBundleVersion</key><string>__SCALAR_BUILD__</string>
  <key>LSMinimumSystemVersion</key><string>14.0</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key><string>xyz.tryscalar.oauth</string>
      <key>CFBundleURLSchemes</key><array><string>scalar</string></array>
    </dict>
  </array>
  <key>SUFeedURL</key><string>https://www.tryscalar.xyz/desktop/appcast.xml</string>
  <key>SUPublicEDKey</key><string>__SPARKLE_PUBLIC_KEY__</string>
  <key>SUVerifyUpdateBeforeExtraction</key><true/>
  <key>SURequireSignedFeed</key><true/>
  <key>SUEnableAutomaticChecks</key><true/>
  <key>SUAutomaticallyUpdate</key><true/>
</dict>
</plist>
